aiohappyeyeballs       
aiohttp     
aiosignal       
attrs       
blinker   
click     
colorama      
Flask       
flask-cors      
frozenlist      
gunicorn        
idna        
itsdangerous       
Jinja2     
joblib     
MarkupSafe      
multidict       
numpy       
packaging      
pandas      
propcache       
python-dateutil     
schedule        
scikit-learn        
scipy       
setuptools      
six     
threadpoolctl       
tzdata      
Werkzeug        
wheel      
yarl        
